@model SmarterCars.ViewModels.EditCarViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete @Model.ModelNumber?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasDefect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDefect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    
    <form asp-action="DeleteCar" asp-route-id="@Model.CarId">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
